body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image:url("N.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-family: Arial, sans-serif;

}

header {
  background-image:url(D.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  background-color:#E1C699;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

table {
  background-color:white;
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
